$white-color: #ffffff;
$dark-black-color: #212121;
$light-black-color: #454545;
$gray-color: #999999;
$dark-gray-color: #757575;
$light-gray-color: #dedede;
$orange-color: #f6731c;
$pink-color: #ffaca7;
$green-color: #7eb105;
